img {
    width: 50%;
}


main {
    background: yellow;
}

* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

html, body {
    height: 100%;
}

body {
    background: papayawhip;
    min-height: 100vh;
}

main, header, body, footer {
    padding: 20px;
    color: gray;
}

header, footer {
    line-height: 60px;
}

main {
    flex: 1;
    display: flex;
}

.flex-container {
    display: flex;
    overflow: auto;
}

.column {
  width: 50%;
  height: 100%;
}

.english {
    padding: 20px;
}

.portuguese {
    padding: 20px;
}

@media (max-width: 450px) {
    .flex-container{
        background: orange;
    }
    main{
        flex-direction: column;
    }
}